{% extends 'base/base.html' %}

{% block content %}
<h2>Создать новый баг репорт</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('#id_project').change(function() {
        var projectId = $(this).val();  // Получаем выбранный id проекта
        $.ajax({
            url: '/quality_control/ajax/get-tasks-for-project/' + projectId + '/',
            dataType: 'json',  // Указываем, что ожидаем JSON
            success: function (tasks) {
                // Очищаем текущие опции
                var taskSelect = $("#id_task");
                taskSelect.empty();
                // Добавляем пустую опцию
                taskSelect.append($('<option>').val('').text('---------'));
                // Добавляем опции для каждой задачи
                $.each(tasks, function(index, task) {
                    taskSelect.append($('<option>').val(task.id).text(task.name));
                });
            }
        });
    });
});

</script>

{% endblock %}
